<h1>About Dracula</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nisi magni, cum accusamus fugiat atque perferendis quos dolor eum doloribus odit. Repellat vel, ullam aliquam deleniti non voluptatibus natus incidunt saepe repudiandae facilis, numquam voluptatem explicabo dignissimos illum, doloremque eum delectus similique deserunt exercitationem cumque ratione expedita. Eveniet repellat dicta, cupiditate modi dolorem sint amet illo. Nostrum labore porro id ipsam sapiente ad corrupti consequuntur architecto fugiat, doloribus eum quia repellat, sunt voluptates harum cupiditate minus, quibusdam mollitia numquam accusantium quo voluptatibus. Nemo sit, earum perferendis tempora ipsam beatae dignissimos ullam nam laborum suscipit magni inventore, harum ut odit repudiandae.</p>

<button class="btn btn-primary" {{action 'showRealName'}}>Click here to learn Dracula's real name!</button>